/* Start Variables */
:root {
    --primary-color: #10CAB7;
}
/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Work Sans", sans-serif;
}
/* Start Containers */
.parent {
    background-color: #eee;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .logo{
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links .icon{
    font-size: 30px;
    color: #333;
}
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    display: none;
    top: calc(100% + 10px);
}
.header .links:hover ul{
    display: block;
}
.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 10px;
    top: -20px;
}
.header .links ul li a{
    text-decoration: none;
    color: #333;
    display: block;
    padding: 15px;
    transition: 0.3s;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child){
    border-bottom: 1px solid #ddd;
}
/* End Header */
/* Start Landing Section */
.landing{
    background-image: url('../images/landing_img1.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    text-align: center;
}
.landing .intro-text {
    width: 320px;
    max-width: 100%;
    margin-top: 90px;

}
.landing .intro-text h1{
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    color: var(--primary-color);
    position: relative;
}
.landing .intro-text h1::after{
    content: "";
    background-color:var(--primary-color);
    height: 5px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease-in-out, opacity 0.3s;
}
.landing .intro-text h1:hover::after{
    width: 0;
}
.landing .intro-text p{
    font-size: 20px;
    line-height: 1.8;
}
/* End Landing Section */
/* Start Feature */
.features {
    padding: 60px 0;
    background-color: #f6f6f6;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap : 30px;
}
.features .container .feat {
    padding: 20px;
    text-align: center;
}
.features .container .feat i{
    color: var(--primary-color);
}
.features .container .feat h3{
    font-weight: 800;
}
.features .container .feat p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/* End Feature */
/* Start Services Section */
.services {
    padding: 60px 0;
    background-color: #f6f6f6;
}
.services .service-content{
    display: flex;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 40px;
}
.service-card{
    display: flex;
}
.service-card i{
    color: var(--primary-color);
    margin: 30px;
}
.service-card p{
    color: #777;
    margin-top: 30px;
}
.col.img{
    display: grid;
    place-items: center;
    position: relative;
    z-index: 0;
}
.col.img img{
    height: 80%;
    margin: 30px;
}
.col.img::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-color: #2C4455;
    top: 0;
    right: 0;
    z-index: -1;
}
/* End Services Section */