/* Start Variables */
:root {
    --primary-color: #10CAB7;
    --secondary-color: #2c4755;
    --text-color-light: #555;
    --text-color-dark: #444;
    --section-padding: 60px 0;
    --section-background: #f6f6f6;
}
/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: "Work Sans", sans-serif;
}
/* Start Containers */
.parent {
    background-color: #eee;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Components */
.special-heading {
    color :#ebeced;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    margin: 0;
    letter-spacing: -3px;
}
.special-heading + p {
    text-align: center;
    margin-top: -30px;
    color: var(--text-color-dark);
}
@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}

/* End Components */
/* Start Header */
.header {
    padding: 20px 0;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .logo{
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links .icon{
    font-size: 30px;
    color: #333;
}
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--section-background);
    position: absolute;
    right: 0;
    min-width: 200px;
    display: none;
    top: calc(100% + 10px);
}
.header .links:hover ul{
    display: block;
}
.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--section-background) transparent;
    position: absolute;
    right: 10px;
    top: -20px;
}
.header .links ul li a{
    text-decoration: none;
    color: #333;
    display: block;
    padding: 15px;
    transition: 0.3s;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child){
    border-bottom: 1px solid #ddd;
}
/* End Header */
/* Start Landing Section */
.landing{
    background-image: url("../images/mountine2.jpg");
    background-size: cover;
    background-position: center;
    height: calc(100vh - 70px);
    display: grid;
    place-items: center;
    text-align: center;
}
.landing .intro-text {
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1{
    font-size: 50px;
    margin: 0;
    font-weight: bold;
    color: var(--primary-color);
}
.landing .intro-text p{
    font-size: 20px;
    line-height: 1.8;
}
/* End Landing Section */
/* Start Features Section */
.features {
    padding: var(--section-padding);
    background-color: var(--section-background);
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.features .feat {
    padding: 20px;
    text-align: center;
}
.features .feat i{
    color: var(--primary-color);
}
.features .feat h3{
    font-weight: 800;
}
.features .feat p{
    line-height: 1.8;
    color: var(--text-color-light);
    font-size: 17px;
}
/* End Features Section */
/* Start Services Section */
.services {
    padding: var(--section-padding);
    /* background-color: #f6f6f6; */
}
.services .service-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 40px;
}
.services .service-content .service-card{
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .services .service-content .service-card {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}
.services .service-content .service-card i{
    color: var(--primary-color);
    flex-basis: 60px;
}
.service-card-content{
    flex: 1;
}
.service-card-content h3{
    margin: 0 0 20px;
}
.service-card-content p{
    color: var(--text-color-light);
    font-weight: 300;
    line-height: 1.6;
}
.service-content .image{
    position: relative;
    text-align: center;
}
.service-content .image::after{
    content: "";
    background-color: var(--secondary-color);
    position: absolute;
    width: 100px;
    height: calc(100% + 50px);
    top: -25px;
    right: 0;
    z-index: -1;
}
.service-content .image img{
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: contain;
    padding: 40px;
}
@media (max-width: 1199px) {
    .service-content .image-column{
        display: none;
    }
}
/* End Services Section */
/* Start Portfolio Section */
.portfolio {
    padding: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}
.portfolio .portfolio-content .card{
    background-color: white;
}
.portfolio .portfolio-content .card img{
    max-width: 100%;
}
.portfolio .portfolio-content .card div{
    padding: 20px;
}
.portfolio .portfolio-content .card div h3{
    margin: 0;
}
.portfolio .portfolio-content .card div p{
    color: var(--text-color-light);
    line-height: 1.6;
    margin-bottom: 0;
}
/* End Portfolio Section */
/* Start About Section */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .about .about-content{
        flex-direction: column;
        align-items: center;
    }
}
.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}
.about .about-content .image::before{
    content: '';
    background-color: #ebeced;
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .about-content .image::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 280px;
    border-left: 80px solid var(--primary-color);
    border-bottom: 66px solid var(--primary-color);
    z-index: -1;
    right: -124px;
    top: -20px;
}
@media (max-width: 991px) {
   .about .about-content .image::before,
   .about .about-content .image::after {
        display: none;
    }
}
.about .about-content .image img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.about .about-content .text{
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .about-content .text hr {
    width: 50%;
    border: 2px solid var(--primary-color);
    margin: 0 0 50px;
}
.about .about-content .text p:last-of-type{
    color: var(--text-color-light);
    line-height: 1.8;
}
/* End About Section */
/* Start Contact Section */
.contact {
    padding: var(--section-padding);
    background-color: var(--section-background);
}
.contact .info {
    margin: 60px;
}
.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    letter-spacing: -2px;
    color: var(--secondary-color);
    margin-bottom: 15px;
}
.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--primary-color);
    text-decoration: none;
}
.contact .info .link:hover {
    text-decoration: underline;
}
.contact .info .social {
    display: flex;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}
@media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
        font-size: 20px;
    }
    .contact .info .social i {
         margin-left: 0;
    }
}
/* End Contact Section */
/* Start Footer Section */
.footer {
    padding: 10px;
    background-color: var(--secondary-color);
    font-size: 18px;
}
.footer p {
    text-align: center;
    color: white;
}
.footer a {
    color: var(--primary-color);
    text-decoration: none;
}
.footer span {
    color: var(--primary-color);
    font-weight: bold;
}
/* End Footer Section */